<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-3">
                <div class="card mb-3" >
                    <div class="row g-0">
                      <div class="col-md-4">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title" style="text-align: left;">EMPLOYEE LOGIN</h5>
                          <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <label for="" class="form-label">Username</label>
                            <input name="Username" [(ngModel)]="Username" type="text" placeholder="Username" class="form-control">
                        </div>
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <label for="" class="form-label">Password</label>
                            <input name="Password" [(ngModel)]="Password" type="password" id="" placeholder="Password" class="form-control">
                        </div>
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                            <br>
                            <button (click)="readValue()" class="btn btn-dark">Login</button>
                        </div>
                        <br>
                      <div class="text-center small">New employee Register <a class="card-link" routerLink="/employeesignup">Here</a></div>
                      <div class="text-center small"> Admin page <a class="card-link" routerLink="/adminlogin">Admin Login</a></div>
                    
                        </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
            
        </div>
        </div>
    </div>
