<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"> </div>
        <p></p>
        <h1 class="card-title">Welcome to Nest Digital</h1>
        <p></p>
            <div class="card" style="width: 80rem;">
                <img height ="500" src="https://img.freepik.com/free-photo/digital-circle-circuit-blue-background-futuristic-technology_53876-124643.jpg?w=1060&t=st=1669810290~exp=1669810890~hmac=07b71bd1759716777fdcc4dff2b20cbb8fc8e1f57b4c17a6b39a37031819dc6f" class="card-img-top" alt="...">
                <div class="card-body">
                  
                </div>
            </div>
    </div>
</div>
